
/* EACH CARD SYLES */
.card{
   position: relative;
}

.card img {
    display: block;
    border: 2px solid #fff;
    width: 100%;
    border-radius: 6px;
}

/* styles for the flip */
.card .front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all 0.2s ease-in;
}

.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

.card .cover {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .cover {
    transform: rotateY(90deg);
    transition-delay: 0s;
}

